In [1]:
%load_ext sql

In [3]:
%sql sqlite:///my_database.db

# Create a table

In [ ]:
%%sql
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT not null,
    email TEXT UNIQUE
)

# Insert data

In [ ]:
%%sql
INSERT INTO users (name, email) VALUES ('Alice', 'alice@example.com');
INSERT INTO users (name, email) VALUES ('Bob', 'bob@example.com');

# Select data

In [7]:
result = %sql SELECT name, email FROM users;

Running query in 'sqlite:///my_database.db'

In [8]:
df = result.DataFrame()

In [9]:
df.head()

    name              email
0  Alice  alice@example.com
1    Bob    bob@example.com