# SQL 100 questions 
- From https://www.sql-practice.com/

## prerequiste
- load sql extension

In [2]:
  %load_ext sql

In [3]:
%sql sqlite:///data/hospitaldatabase.db

Connecting to 'sqlite:///data/hospitaldatabase.db'

- create the sqlite database

## SQL Datatypes

### Numeric Data Types
- INT, SMALLINT, BIGINT ( Used whole numbers without decimals points)
- DECIMAL, NUMERIC ( Used for numbers with a fixed precision and scale, suitable for financial data)
- FLOAT, DOUBLE ( Used for floating-point numbers, offering a wider range but with potential precision issues)

### String/Character Data Types
- CHAR, VARCHAR ( Store text data, typically in a single-byte encoding)
- NCHAR, NVARCHAR ( Store text data using **Unicode** encoding)

### Date and Time Date Types
- DATE, TIME, DATETIME, TIMESTAMP ( Used to store date and time information)

### Binary Data Types
- VARBINARY ( Used to store binary data such as images or other files.)

### Other Data Types
- Boolean ( Stores TRUE or FALSE values)
- Enum ( Allows a column to have a value chosen from a predefined list of allowed values.)
- Set ( Similar to Enum but allows multiple values from a predefined list)
- Spatial Data Types ( Used for geographical and geometric data)

## load all the data

### **patients** schema

| name | type |
| ----- | ----- |
| patient_id (primary key) | INT |
| first_name | TEXT |
| last_name | TEXT |
| gender | CHAR(1) |
| birth_date | DATE |
| city | TEXT |
| province_id (foreign key) | CHAR(2) |
| allergies | TEXT |
| height | INT |
| weight | INT |

In [59]:
%%sql
DROP TABLE patients

Running query in 'sqlite:///data/hospitaldatabase.db'

++
||
++
++

In [60]:

%%sql
CREATE TABLE patients (
    patient_id INT NOT NULL PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    gender CHAR(1),
    birth_date DATE,
    city TEXT,
    province_id CHAR(2),
    allergies TEXT,
    height INT,
    weight INT
);

Running query in 'sqlite:///data/hospitaldatabase.db'

++
||
++
++

In [62]:
%%sql
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (1, 'Arleen', 'Geall', 'F', '5/28/2025', 'Providence', 'RI', 'Bypass L Brach Vein to Up Vein w Nonaut Sub, Open', 31, 215);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (2, 'Opalina', 'Allam', 'F', '2/14/2025', 'San Mateo', 'CA', 'Dilation of L Hypogast Vein with Intralum Dev, Perc Approach', 75, 244);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (3, 'Clare', 'Staresmeare', 'M', '4/19/2025', 'Richmond', 'VA', 'Dilation of 3 Cor Art with 3 Intralum Dev, Perc Approach', 40, 285);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (4, 'Wilbur', 'Boydon', 'M', '9/6/2025', 'Birmingham', 'AL', 'Replacement of Upper Lip with Autol Sub, Open Approach', 82, 280);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (5, 'Ernest', 'Branscomb', 'M', '6/8/2025', 'Columbia', 'SC', 'Occlusion R Great Saphenous w Intralum Dev, Open', 45, 125);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (6, 'Aurel', 'Frane', 'F', '10/9/2025', 'Philadelphia', 'PA', 'Fragmentation in Pericardium, Percutaneous Approach', 181, 182);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (7, 'Troy', 'Owbridge', 'M', '7/22/2025', 'Fort Myers', 'FL', 'Repair Left Superior Parathyroid Gland, Open Approach', 85, 139);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (8, 'Kristien', 'Plumbridge', 'F', '9/29/2025', 'Washington', 'DC', 'Change Other Device in Pancreatic Duct, External Approach', 81, 211);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (9, 'Adler', 'Jeannet', 'M', '2/16/2025', 'Prescott', 'AZ', 'Planar Nucl Med Imag Bi Salivary Gland w Oth Radionuclide', 120, 70);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (10, 'Nanine', 'Gatecliff', 'F', '7/14/2025', 'Dallas', 'TX', 'Heart and Great Vessels, Map', 162, 45);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (11, 'Petra', 'Gibbin', 'F', '4/16/2025', 'Portland', 'OR', 'Dilate L Ant Tib Art, Bifurc, w 3 Intralum Dev, Perc', 109, 92);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (12, 'Sylas', 'Nacci', 'M', '2/1/2025', 'Charleston', 'SC', 'Removal of Nonaut Sub from R Extraoc Muscle, Open Approach', 151, 228);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (13, 'Greta', 'Bann', 'Non-binary', '12/5/2024', 'Asheville', 'NC', 'Release Right Femoral Vein, Percutaneous Approach', 51, 249);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (14, 'Harriot', 'Olenov', 'F', '10/31/2024', 'Baton Rouge', 'LA', 'Restriction of Esophagus, Open Approach', 128, 253);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (15, 'Carrie', 'Bohike', 'F', '5/18/2025', 'Trenton', 'NJ', 'Bypass R Kidney Pelvis to Ileum w Autol Sub, Open', 180, 166);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (16, 'Caty', 'Eates', 'F', '7/3/2025', 'Tallahassee', 'FL', 'Excision of Pulmonary Trunk, Open Approach, Diagnostic', 188, 32);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (17, 'Jemima', 'Jakoub', 'F', '3/6/2025', 'Evansville', 'IN', 'Bypass Bi Ureter to L Ureter with Synth Sub, Open Approach', 186, 126);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (18, 'Malachi', 'Phalip', 'Genderfluid', '4/4/2025', 'Kansas City', 'KS', 'Removal of Splint on Face', 160, 266);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (19, 'Georgie', 'Giotto', 'F', '1/27/2025', 'Wichita', 'KS', 'Repair Pancreatic Duct, Percutaneous Approach', 141, 126);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (20, 'Idette', 'Corton', 'F', '8/12/2025', 'Washington', 'DC', 'Drainage of Cul-de-sac, Via Natural or Artificial Opening', 41, 217);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (21, 'Darda', 'Bresson', 'F', '4/3/2025', 'Harrisburg', 'PA', 'Eye, Dilation', 40, 83);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (22, 'Filmer', 'Robben', 'M', '12/15/2024', 'Minneapolis', 'MN', 'Revision of Other Device in GI Tract, Open Approach', 185, 170);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (23, 'Lethia', 'Shovell', 'F', '1/5/2025', 'Appleton', 'WI', 'Dilate 4+ Cor Art, Bifurc, w 4+ Intralum Dev, Perc Endo', 50, 275);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (24, 'Camel', 'Le Barr', 'F', '5/15/2025', 'Orlando', 'FL', 'Reposition R Metatarsophal Jt with Int Fix, Open Approach', 37, 27);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (25, 'Martelle', 'Paquet', 'F', '3/24/2025', 'Oakland', 'CA', 'Drainage of Pineal Body, Percutaneous Approach', 48, 157);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (26, 'Aili', 'Kolak', 'F', '6/2/2025', 'Hartford', 'CT', 'Revision of Int Fix in R Femur Shaft, Perc Endo Approach', 43, 260);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (27, 'Enrika', 'Dankersley', 'F', '1/7/2025', 'Kansas City', 'MO', 'Restrict R Com Iliac Art w Fenestr Dev 3+, Perc Endo', 102, 194);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (28, 'Percival', 'Chretien', 'M', '9/25/2025', 'Lexington', 'KY', 'MRI of Nasophar/Orophar using Oth Contrast', 95, 108);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (29, 'Dannie', 'Breche', 'M', '11/3/2024', 'Montgomery', 'AL', 'Removal of Ext Fix from L Femur Shaft, Extern Approach', 137, 30);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (30, 'Aggy', 'Grzegorczyk', 'Bigender', '11/2/2024', 'Denver', 'CO', 'Replacement of L Fem Art with Synth Sub, Perc Endo Approach', 199, 274);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (31, 'Priscella', 'Tims', 'F', '6/26/2025', 'Sarasota', 'FL', 'Restriction of Face Artery with Intralum Dev, Open Approach', 160, 185);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (32, 'Fidelio', 'Alan', 'M', '4/23/2025', 'Carlsbad', 'CA', 'Introduction of Liquid Brachy into GU Tract, Perc Approach', 200, 104);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (33, 'Karola', 'Binnie', 'F', '1/1/2025', 'Huntington', 'WV', 'Coord/Dexterity Trmt Integu Low Back/LE w Assist Equip', 48, 127);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (34, 'Marcia', 'Di Boldi', 'F', '6/8/2025', 'Southfield', 'MI', 'Release Left Lung, Percutaneous Approach', 179, 79);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (35, 'Jakob', 'Sivyer', 'M', '12/9/2024', 'Phoenix', 'AZ', 'Reposition Left Clavicle, Open Approach', 94, 248);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (36, 'Felita', 'Rheaume', 'F', '8/29/2025', 'Fresno', 'CA', 'Replacement of R Hand Skin with Synth Sub, Extern Approach', 46, 238);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (37, 'Florinda', 'Leonards', 'F', '10/15/2025', 'Saint Petersburg', 'FL', 'Supplement Right Cornea with Nonaut Sub, Extern Approach', 106, 113);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (38, 'Corbie', 'Demschke', 'M', '6/10/2025', 'Columbus', 'OH', 'Replacement of R Pulm Art with Zooplastic, Open Approach', 194, 267);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (39, 'Yvon', 'Hordle', 'M', '7/10/2025', 'San Mateo', 'CA', 'Destruction of Left Vas Deferens, Percutaneous Approach', 79, 240);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (40, 'Dollie', 'Barkess', 'F', '10/23/2025', 'Baltimore', 'MD', 'Occlusion of Left Upper Lobe Bronchus, Percutaneous Approach', 96, 151);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (41, 'Meryl', 'Roskam', 'M', '5/12/2025', 'Cincinnati', 'OH', 'Revision of Synth Sub in L Metatarsal, Extern Approach', 54, 244);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (42, 'Harbert', 'Chater', 'M', '5/18/2025', 'Bellevue', 'WA', 'Release Right Lower Eyelid, External Approach', 127, 176);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (43, 'Krystalle', 'Artingstall', 'F', '1/4/2025', 'New Orleans', 'LA', 'Revision of Extralum Dev in Uterus & Cervix, Via Opening', 118, 209);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (44, 'Chere', 'Bulleyn', 'Agender', '8/29/2025', 'Daytona Beach', 'FL', 'Caregiver Train in Applic/Use/Care Prosthesis w Assist Equip', 200, 101);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (45, 'Linnet', 'Gwilym', 'F', '2/12/2025', 'Henderson', 'NV', 'Drainage of Stomach, Percutaneous Approach, Diagnostic', 138, 245);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (46, 'Bambi', 'Francais', 'F', '5/30/2025', 'Houston', 'TX', 'Supplement Left Radius with Synth Sub, Perc Approach', 145, 131);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (47, 'Sander', 'Hargate', 'M', '4/16/2025', 'Orlando', 'FL', 'Supplement Left Palatine Bone with Synth Sub, Open Approach', 88, 46);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (48, 'Natal', 'Kornilyev', 'M', '6/20/2025', 'El Paso', 'TX', 'Removal of Drain Dev from R Acromioclav Jt, Perc Approach', 35, 298);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (49, 'Leonora', 'Petcher', 'F', '5/8/2025', 'Jacksonville', 'FL', 'Restriction of R Renal Art with Extralum Dev, Open Approach', 79, 218);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (50, 'Chase', 'Charker', 'Polygender', '10/14/2025', 'Colorado Springs', 'CO', 'Remove Autol Sub from Low Extrem Subcu/Fascia, Open', 104, 94);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (51, 'Sindee', 'Philott', 'F', '2/4/2025', 'Bakersfield', 'CA', 'Bypass Spinal Canal to Periton Cav w Synth Sub, Open', 38, 147);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (52, 'Patience', 'Dagg', 'F', '7/13/2025', 'Cincinnati', 'OH', 'Extraction of Nasal Turbinate, Perc Endo Approach', 49, 210);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (53, 'Nyssa', 'Tipping', 'F', '5/31/2025', 'Dallas', 'TX', 'Excision of Right Finger Phalanx, Perc Endo Approach', 57, 207);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (54, 'Margy', 'Cradick', 'F', '12/28/2024', 'Inglewood', 'CA', 'Extraction of Head Neck Symp Nrv, Perc Endo Approach', 53, 151);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (55, 'Dwayne', 'Tippett', 'Non-binary', '11/22/2024', 'Visalia', 'CA', 'Alteration of R Up Eyelid with Synth Sub, Perc Approach', 200, 58);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (56, 'Arlana', 'Heinreich', 'F', '5/8/2025', 'Dallas', 'TX', 'Bypass L Atrium to R Pulm Art w Nonaut Sub, Perc Endo', 124, 30);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (57, 'Sydney', 'Spenton', 'M', '1/26/2025', 'Tacoma', 'WA', 'Computerized Tomography (CT Scan) of Mandible', 112, 161);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (58, 'Josepha', 'Boas', 'F', '10/24/2025', 'Honolulu', 'HI', 'Restriction of Left Ureter with Intralum Dev, Open Approach', 147, 287);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (59, 'Lorette', 'Schinetti', 'F', '9/14/2025', 'Denver', 'CO', 'Insertion of Defib Lead into R Atrium, Perc Endo Approach', 178, 298);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (60, 'Nariko', 'Winser', 'F', '8/27/2025', 'Denver', 'CO', 'Supplement L Low Lobe Bronc with Nonaut Sub, Open Approach', 80, 44);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (61, 'Farlay', 'Snary', 'M', '5/25/2025', 'Seattle', 'WA', 'Insertion of Intralum Dev into L Peroneal Art, Perc Approach', 150, 185);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (62, 'Leora', 'Oldcote', 'F', '2/24/2025', 'Stamford', 'CT', 'Revision of Int Fix in R Sternoclav Jt, Open Approach', 134, 144);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (63, 'Jonas', 'Czajkowski', 'M', '5/22/2025', 'Buffalo', 'NY', 'Plain Radiography of R Pulm Art using L Osm Contrast', 107, 29);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (64, 'Darsey', 'Wrinch', 'Non-binary', '7/11/2025', 'Florence', 'SC', 'Reposition Left Humeral Head, Perc Endo Approach', 126, 192);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (65, 'Ermengarde', 'Tambling', 'F', '1/3/2025', 'New York City', 'NY', 'Supplement Thoracic Vertebra with Synth Sub, Perc Approach', 120, 10);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (66, 'Aurelia', 'Jakubczyk', 'F', '4/20/2025', 'New York City', 'NY', 'Bypass R Subclav Art to L Low Leg Art w Autol Art, Open', 45, 97);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (67, 'Fabian', 'Biasioni', 'M', '11/23/2024', 'Baton Rouge', 'LA', 'Drainage of Thalamus with Drain Dev, Perc Endo Approach', 105, 234);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (68, 'Colet', 'Carcas', 'M', '8/27/2025', 'Denver', 'CO', 'Occlusion of R Axilla Lymph with Intralum Dev, Open Approach', 164, 101);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (69, 'Karola', 'McQuarter', 'F', '8/8/2025', 'Duluth', 'MN', 'HDR Brachytherapy of Ileum using Californium 252', 39, 223);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (70, 'Andee', 'Dyka', 'F', '9/19/2025', 'Durham', 'NC', 'Excision of Left Metacarpal, Open Approach, Diagnostic', 156, 290);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (71, 'Cathe', 'Pegrum', 'F', '5/31/2025', 'Marietta', 'GA', 'Revision of Nonaut Sub in Nose, Perc Approach', 88, 25);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (72, 'Nikki', 'Kollatsch', 'F', '2/11/2025', 'Henderson', 'NV', 'Restrict L Neck Lymph w Intralum Dev, Perc Endo', 127, 136);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (73, 'Sara-ann', 'Tohill', 'F', '1/5/2025', 'Houston', 'TX', 'Replacement of Bladder Neck with Autol Sub, Open Approach', 104, 206);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (74, 'Kimmy', 'Livingston', 'F', '8/1/2025', 'Minneapolis', 'MN', 'Extirpation of Matter from Left Tibia, Open Approach', 31, 227);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (75, 'Lizzie', 'Adess', 'F', '7/23/2025', 'Memphis', 'TN', 'Dilation of R Renal Art with 2 Intralum Dev, Open Approach', 79, 68);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (76, 'Charlton', 'Hubbock', 'M', '11/7/2024', 'Pasadena', 'CA', 'Planar Nucl Med Imag L Up Extrem Vein w Technetium 99m', 43, 221);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (77, 'Meggy', 'Hutchinson', 'F', '2/26/2025', 'Fullerton', 'CA', 'Replacement of Buccal Mucosa with Synth Sub, Open Approach', 113, 160);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (78, 'Dulsea', 'Book', 'F', '2/9/2025', 'New York City', 'NY', 'Bypass Bi Ureter to Colon with Synth Sub, Perc Endo Approach', 142, 153);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (79, 'Brinn', 'Van Der Vlies', 'F', '3/15/2025', 'Lexington', 'KY', 'Excision of Right Subclavian Artery, Open Approach', 103, 116);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (80, 'Isak', 'Backshaw', 'M', '2/8/2025', 'Washington', 'DC', 'Bypass Inf Vena Cava to Low Vein w Nonaut Sub, Open', 76, 19);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (81, 'Pebrook', 'Kreber', 'M', '1/22/2025', 'Evansville', 'IN', 'Excision of Left Inguinal Region, Perc Endo Approach', 101, 257);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (82, 'Lezlie', 'Golling', 'F', '2/28/2025', 'Sarasota', 'FL', 'Detachment at Right Hand, Complete, Open Approach', 96, 98);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (83, 'Janek', 'Kinchley', 'M', '4/22/2025', 'Phoenix', 'AZ', 'Repair Mouth and Throat in POC with Oth Dev, Via Opening', 128, 17);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (84, 'Laure', 'Brookwood', 'F', '10/5/2025', 'Memphis', 'TN', 'Insertion of Infusion Device into Abd Wall, Perc Approach', 132, 280);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (85, 'Ira', 'Common', 'F', '3/13/2025', 'Colorado Springs', 'CO', 'Drainage of Left External Ear with Drain Dev, Open Approach', 107, 281);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (86, 'Hyman', 'Lenard', 'Polygender', '7/7/2025', 'Huntington', 'WV', 'Imaging, Fetus and Obstetrical, Ultrasonography', 175, 57);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (87, 'Osgood', 'Mish', 'M', '10/28/2025', 'Pomona', 'CA', 'Bypass Gastric Vein to Low Vein with Autol Vn, Open Approach', 184, 270);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (88, 'Archer', 'Yannikov', 'M', '9/1/2025', 'Long Beach', 'CA', 'Reattachment of R Foot Bursa/Lig, Perc Endo Approach', 162, 51);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (89, 'Garrett', 'Fendley', 'M', '10/9/2025', 'Santa Cruz', 'CA', 'Revision of Intraluminal Device in Trachea, Open Approach', 154, 164);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (90, 'Chic', 'Simner', 'M', '10/5/2025', 'Temple', 'TX', 'Fusion of Right Elbow Joint with Ext Fix, Open Approach', 47, 11);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (91, 'Laverna', 'Bridgewater', 'Bigender', '12/11/2024', 'Sacramento', 'CA', 'Drainage of Buttock Subcu/Fascia, Perc Approach', 52, 86);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (92, 'Morgun', 'Jimes', 'Genderfluid', '3/24/2025', 'Raleigh', 'NC', 'Revision of Infusion Device in Lower Vein, Perc Approach', 103, 106);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (93, 'Levon', 'Pawley', 'M', '6/30/2025', 'Sacramento', 'CA', 'Replacement of R Shoulder Jt with Synth Sub, Open Approach', 105, 91);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (94, 'Bartlett', 'Liddicoat', 'M', '10/30/2024', 'San Bernardino', 'CA', 'Replacement of L Low Femur with Nonaut Sub, Open Approach', 162, 30);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (95, 'Abbey', 'Boribal', 'M', '9/3/2025', 'El Paso', 'TX', 'Removal of Drainage Device from Kidney, Perc Approach', 99, 85);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (96, 'Zak', 'Eagar', 'M', '5/12/2025', 'Panama City', 'FL', 'Drainage of Right Hand Skin with Drain Dev, Extern Approach', 157, 79);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (97, 'Coral', 'Greenman', 'F', '7/29/2025', 'Topeka', 'KS', 'Remove Synth Sub from R Hip Jt, Femoral, Perc Endo', 89, 131);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (98, 'Waylon', 'Blackey', 'M', '11/8/2024', 'Cincinnati', 'OH', 'Drainage of Thoracic Sympathetic Nerve, Perc Approach', 182, 190);
insert into patients (patient_id, first_name, last_name, gender, birth_date, city, province_id, allergies, height, weight) values (99, 'Herc', 'Deniseau', 'Non-binary', '6/20/2025', 'Birmingham', 'AL', 'Dilation of L Temporal Art with Intralum Dev, Perc Approach', 53, 53);

Running query in 'sqlite:///data/hospitaldatabase.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [63]:
%%sql
SELECT * FROM patients LIMIT 10

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+------------+-------------+--------+------------+--------------+-------------+--------------------------------------------------------------+--------+--------+
| patient_id | first_name |  last_name  | gender | birth_date |     city     | province_id |                          allergies                           | height | weight |
+------------+------------+-------------+--------+------------+--------------+-------------+--------------------------------------------------------------+--------+--------+
|     1      |   Arleen   |    Geall    |   F    | 5/28/2025  |  Providence  |      RI     |      Bypass L Brach Vein to Up Vein w Nonaut Sub, Open       |   31   |  215   |
|     2      |  Opalina   |    Allam    |   F    | 2/14/2025  |  San Mateo   |      CA     | Dilation of L Hypogast Vein with Intralum Dev, Perc Approach |   75   |  244   |
|     3      |   Clare    | Staresmeare |   M    | 4/19/2025  |   Richmond   |      VA     |   Dilation of 3 Cor Art with 3 Intralum Dev, Perc Approach   |   40   |  285   |
|     4      |   Wilbur   |    Boydon   |   M    |  9/6/2025  |  Birmingham  |      AL     |    Replacement of Upper Lip with Autol Sub, Open Approach    |   82   |  280   |
|     5      |   Ernest   |  Branscomb  |   M    |  6/8/2025  |   Columbia   |      SC     |       Occlusion R Great Saphenous w Intralum Dev, Open       |   45   |  125   |
|     6      |   Aurel    |    Frane    |   F    | 10/9/2025  | Philadelphia |      PA     |     Fragmentation in Pericardium, Percutaneous Approach      |  181   |  182   |
|     7      |    Troy    |   Owbridge  |   M    | 7/22/2025  |  Fort Myers  |      FL     |    Repair Left Superior Parathyroid Gland, Open Approach     |   85   |  139   |
|     8      |  Kristien  |  Plumbridge |   F    | 9/29/2025  |  Washington  |      DC     |  Change Other Device in Pancreatic Duct, External Approach   |   81   |  211   |
|     9      |   Adler    |   Jeannet   |   M    | 2/16/2025  |   Prescott   |      AZ     |  Planar Nucl Med Imag Bi Salivary Gland w Oth Radionuclide   |  120   |   70   |
|     10     |   Nanine   |  Gatecliff  |   F    | 7/14/2025  |    Dallas    |      TX     |                 Heart and Great Vessels, Map                 |  162   |   45   |
+------------+------------+-------------+--------+------------+--------------+-------------+--------------------------------------------------------------+--------+--------+
Truncated to displaylimit of 10.

### **admissions** schema

| name | type |
| ---- | ----- |
| patient_id (foreign key) | INT |
| admission_date | DATE |
| discharge_date | DATE |
| diagnosis | TEXT |
| attending_doctor_id (foreign key) | INT |

In [23]:
%%sql
CREATE TABLE admissions (
    patient_id INT,
    admision_date DATE,
    discharge_date DATE,
    diagnosis TEXT,
    attending_doctor_id INT
)

Running query in 'sqlite:///data/hospitaldatabase.db'

++
||
++
++

In [25]:
%%sql
SELECT * FROM admissions

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+---------------+----------------+-----------+---------------------+
| patient_id | admision_date | discharge_date | diagnosis | attending_doctor_id |
+------------+---------------+----------------+-----------+---------------------+
+------------+---------------+----------------+-----------+---------------------+

In [ ]:
%%sql

### **doctors** schema
| name | type |
| ---- | ---- |
| doctor_id (foreign key) | INT |
| first_name | TEXT |
| last_name | TEXT |
| specialty | TEXT |

In [30]:
%%sql
CREATE TABLE doctors (
    doctor_id INT NOT NULL PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    specialty TEXT
)

Running query in 'sqlite:///data/hospitaldatabase.db'

++
||
++
++

In [ ]:
%%sql
SELECT * FROM doctors
LIMIT 10

Running query in 'sqlite:///data/hospitaldatabase.db'

+-----------+------------+-----------+-----------+
| doctor_id | first_name | last_name | specialty |
+-----------+------------+-----------+-----------+
+-----------+------------+-----------+-----------+

### **province_names** schema
| name | type |
| ---- | ---- |
| province_id (foriegn key) | CHAR(2) |
| province_name | TEXT |

In [33]:
%%sql
CREATE TABLE province_names (
    province_id CHAR(2) PRIMARY KEY,
    province_name TEXT
)

Running query in 'sqlite:///data/hospitaldatabase.db'

++
||
++
++

In [ ]:
%%sql
SELECT * FROM province_names
LIMIT 10

Running query in 'sqlite:///data/hospitaldatabase.db'

+-------------+---------------+
| province_id | province_name |
+-------------+---------------+
+-------------+---------------+

# Easy Questions (1-16)

## 1.  Show first name, last name, and gender of patients whose gender is 'M'

In [64]:
%%sql
SELECT
  first_name,
  last_name,
  gender
FROM patients
WHERE gender = 'M';

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+-------------+--------+
| first_name |  last_name  | gender |
+------------+-------------+--------+
|   Clare    | Staresmeare |   M    |
|   Wilbur   |    Boydon   |   M    |
|   Ernest   |  Branscomb  |   M    |
|    Troy    |   Owbridge  |   M    |
|   Adler    |   Jeannet   |   M    |
|   Sylas    |    Nacci    |   M    |
|   Filmer   |    Robben   |   M    |
|  Percival  |   Chretien  |   M    |
|   Dannie   |    Breche   |   M    |
|  Fidelio   |     Alan    |   M    |
+------------+-------------+--------+
Truncated to displaylimit of 10.

## 2. Show first name and last name of patients who does not have allergies. (null)

In [65]:
%%sql
SELECT first_name, last_name 
FROM patients
WHERE allergies iS NULL;

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+-----------+
| first_name | last_name |
+------------+-----------+
+------------+-----------+

## 3. Show first name of patients that start with the letter 'C'

In [66]:
%%sql
SELECT first_name 
FROM patients
WHERE first_name LIKE 'C%';

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+
| first_name |
+------------+
|   Clare    |
|   Carrie   |
|    Caty    |
|   Camel    |
|   Corbie   |
|   Chere    |
|   Chase    |
|   Colet    |
|   Cathe    |
|  Charlton  |
+------------+
Truncated to displaylimit of 10.

## 4. Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)

In [67]:
%%sql
SELECT first_name, last_name 
FROM patients
WHERE weight >= 100 and weight <= 120;

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+---------------+
| first_name |   last_name   |
+------------+---------------+
|  Percival  |    Chretien   |
|  Fidelio   |      Alan     |
|  Florinda  |    Leonards   |
|   Chere    |    Bulleyn    |
|   Colet    |     Carcas    |
|   Brinn    | Van Der Vlies |
|   Morgun   |     Jimes     |
+------------+---------------+

## 5. Update the patients table for the allergies column. If the patient's allergies is null then replace it with 'NKA'

In [68]:
%%sql
update patients
SET allergies = 'NKA'
WHERE allergies iS NULL;

Running query in 'sqlite:///data/hospitaldatabase.db'

++
||
++
++

## 6. Show first name and last name concatinated into one column to show their full name.

In [69]:
%%sql
SELECT concat(first_name, ' ', last_name)
FROM patients;

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------------------------------+
| concat(first_name, ' ', last_name) |
+------------------------------------+
|            Arleen Geall            |
|           Opalina Allam            |
|         Clare Staresmeare          |
|           Wilbur Boydon            |
|          Ernest Branscomb          |
|            Aurel Frane             |
|           Troy Owbridge            |
|        Kristien Plumbridge         |
|           Adler Jeannet            |
|          Nanine Gatecliff          |
+------------------------------------+
Truncated to displaylimit of 10.

## 7. Show first name, last name, and the full province name of each patient.

In [70]:
# %%sql
# SELECT first_name, last_name, province_name
# FROM patients
# JOIN province_names ON patients.province_id = province_names.province_id;

## 8. Show how many patients have a birth_date with 2010 as the birth year.

In [73]:
# %%sql
# SELECT COUNT(birth_date)
# FROM patients
# WHERE YEAR(birth_date) = 2010;

## 9. Show the first_name, last_name, and height of the patient with the greatest height.

In [ ]:
%%sql
SELECT first_name, last_name, height
FROM patients
WHERE height = (SELECT MAX(height) FROM patients);

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+-----------+--------+
| first_name | last_name | height |
+------------+-----------+--------+
|  Fidelio   |    Alan   |  200   |
|   Chere    |  Bulleyn  |  200   |
|   Dwayne   |  Tippett  |  200   |
+------------+-----------+--------+

## 10. Show all columns for patients who have one of the following patient_ids: 1,45,534,879,1000

In [75]:
%%sql
SELECT *
FROM patients
WHERE patient_id IN (1, 45, 534, 879, 1000);

Running query in 'sqlite:///data/hospitaldatabase.db'

+------------+------------+-----------+--------+------------+------------+-------------+--------------------------------------------------------+--------+--------+
| patient_id | first_name | last_name | gender | birth_date |    city    | province_id |                       allergies                        | height | weight |
+------------+------------+-----------+--------+------------+------------+-------------+--------------------------------------------------------+--------+--------+
|     1      |   Arleen   |   Geall   |   F    | 5/28/2025  | Providence |      RI     |   Bypass L Brach Vein to Up Vein w Nonaut Sub, Open    |   31   |  215   |
|     45     |   Linnet   |   Gwilym  |   F    | 2/12/2025  | Henderson  |      NV     | Drainage of Stomach, Percutaneous Approach, Diagnostic |  138   |  245   |
+------------+------------+-----------+--------+------------+------------+-------------+--------------------------------------------------------+--------+--------+

## 11. Show the total number of admissions

In [ ]:
%%sql
SELECT COUNT(*)
FROM admissions;

## 12. Show all the columns from admissions where the patient was admitted and discharged on the same day.

In [ ]:
%%sql
SELECT *
FROM admissions
WHERE admission_date = discharge_date;

## 13. Show the patient id and the total number of admissions for patient_id 579.

In [ ]:
%%sql
SELECT patient_id, COUNT(*) as total_admission
FROM admissions
WHERE patient_id = 579
group by patient_id;

## 14. Based on the cities that our patients live in, show unique cities that are in province_id 'NS'.

In [ ]:
%%sql
SELECT distinct(city)
FROM patients
JOIN province_names ON patients.province_id = province_names.province_id
WHERE province_names.province_id = 'NS';

## 15. Write a query to find the first_name, last name and birth date of patients who has height greater than 160 and weight greater than 70

In [ ]:
%%sql
SELECT first_name, last_name, birth_date
FROM patients
WHERE height > 160 and weight > 70;

## 16. Write a query to find list of patients first_name, last_name, and allergies where allergies are not null and are from the city of 'Hamilton'

In [ ]:
%%sql
SELECT first_name, last_name, allergies
FROM patients
WHERE allergies IS NOT NULL and city = 'Hamilton';

# Medium Questions (17-43)

## 17. Show unique birth years from patients and order them by ascending.

In [ ]:
%%sql
SELECT distinct year(birth_date)
FROM patients
order by birth_date asc;

## 18. Show unique first names from the patients table which only occurs once in the list.

- For example, if two or more people are named 'John' in the first_name column then don't include their name in the output list. If only 1 person is named 'Leo' then include them in the output.

In [ ]:
%%sql
SELECT first_name
FROM patients
GROUP BY first_name
HAVING COUNT(first_name) = 1;

## 19. Show patient_id and first_name from patients where their first_name start and ends with 's' and is at least 6 characters long.

In [ ]:
%%sql
SELECT patient_id, first_name
FROM patients
WHERE first_name LIKE 's%s' AND len(first_name) > 5;

## 20. Show patient_id, first_name, last_name from patients whos diagnosis is 'Dementia'. 
- Primary diagnosis is stored in the admissions table.

In [ ]:
%%sql
SELECT patients.patient_id, first_name, last_name
FROM patients
JOIN admissions ON patients.patient_id = admissions.patient_id
WHERE admissions.diagnosis = 'Dementia';

## 21. Display every patient's first_name.
- Order the list by the length of each name and then by alphabetically.

In [ ]:
%%sql
SELECT  first_name
FROM patients
order by len(first_name), first_name ASC;

## 22. Show the total amount of male patients and the total amount of female patients in the patients table.
- Display the two results in the same row.

In [ ]:
%%sql
SELECT  SUM(gender = 'M') AS male_count, 
SUM(gender = 'F') as female_count
FROM patients;

## 23. Show first and last name, allergies from patients which have allergies to either 'Penicillin' or 'Morphine'. Show results ordered ascending by allergies then by first_name then by last_name.

In [ ]:
%%sql
SELECT
  first_name,
  last_name,
  allergies
FROM patients
WHERE
  allergies IN ('Penicillin', 'Morphine')
ORDER BY
  allergies,
  first_name,
  last_name;

## 24. Show patient_id, diagnosis from admissions. Find patients admitted multiple times for the same diagnosis.

In [ ]:
%%sql
SELECT patient_id, diagnosis
FROM admissions
group by patient_id, diagnosis
having COUNT(diagnosis) > 1;

## 25. Show the city and the total number of patients in the city. Order from most to least patients and then by city name ascending.

In [ ]:
%%sql
SELECT city, COUNT(*) as patients
FROM patients
group by city
order by patients DESC, city ASC;

## 26. Show first name, last name and role of every person that is either patient or doctor. The roles are either "Patient" or "Doctor"

In [ ]:
%%sql
SELECT first_name, last_name, 'Patient' as roles
FROM patients

UNION ALL
SELECT first_name, last_name, 'Doctor' as roles
FROM doctors;

## 27. Show all allergies ordered by popularity. Remove 'NKA' and NULL values from query.

In [ ]:
%%sql
SELECT allergies, count(allergies)
FROM patients
WHERE allergies iS NOT NULL
group by allergies
order by count(allergies) desc;

## 28. Show all patient's first_name, last_name, and birth_date who were born in the 1970s decade. Sort the list starting from the earliest birth_date.

In [ ]:
%%sql
SELECT first_name, last_name, birth_date
FROM patients
WHERE YEAR(birth_date) >= 1970 And Year(birth_date) < 1980
order by birth_date;

## 29. We want to display each patient's full name in a single column. Their last_name in all upper letters must appear first, then first_name in all lower case letters. Separate the last_name and first_name with a comma. Order the list by the first_name in descending order. 
- EX.SMITH, jane

In [ ]:
%%sql
SELECT CONCAT(UPPER(last_name), ',', LOWER(first_name))
FROM patients
order by first_name desc;

## 30. Show the province_id(s), sum of height; where the total sum of its patient's height is greater than or equal to 7,000.

In [ ]:
%%sql
# REMEMBER SELECT, FROM, WHERE, GROUP BY, HAVING, ORDER BY, 
# When using GROUP BY, use HAVING
SELECT province_id, SUM(height) AS total_height
FROM patients
GROUP BY province_id
HAVING total_height > 7000;

## 31. Show the difference between the largest weight and smallest weight for patients with the last name 'Maroni'

In [ ]:
SELECT MAX(weight) - MIN(weight)
FROM patients
WHERE last_name = 'Maroni';

## 32. Show all the days of the month (1-31) and how many admission_dates occurred on that day. Sort the day with the most admissions to least admissions.

In [ ]:
%%sql
SELECT DAY(admission_date), COUNT(DAY(admission_date))
FROM admissions
GROUP BY DAY(admission_date)
order by COUNT(DAY(admission_date)) DESC;

## 33. Show all columns for patient_id 542's most recent admission_date.

In [ ]:
%%sql
SELECT *
FROM admissions
WHERE patient_id = 542 
order by admission_date DESC
LIMIT 1;

## 34. Show patient_id, attending_doctor_id, and diagnosis for admissions that match one of the two criteria:
1. patient_id is an odd number and attending_doctor_id is either 1, 5, or 19.
2. attending_doctor_id contains a 2 and the length of patient_id is 3 characters.

In [ ]:
%%sql
# lots of criteria
SELECT patient_id, attending_doctor_id, diagnosis
FROM admissions
WHERE (patient_id % 2 = 1 AND attending_doctor_id IN (1, 5, 19))  
OR (CAST(attending_doctor_id AS VARCHAR) LIKE '%2%' AND len(patient_id) = 3);

## 35. Show first_name, last_name, and the total number of admissions attended for each doctor. 
Every admission has been attended by a doctor.

In [ ]:
%%sql
SELECT first_name, last_name, COUNT(attending_doctor_id) AS total_admission
FROM admissions
JOIN doctors ON admissions.attending_doctor_id = doctors.doctor_id
GROUP BY first_name, last_name;

## 36. For each doctor, display their id, full name, and the first and last admission date they attended.

In [ ]:
%%sql
# The checker isn't robust, I switch the last and first name order and it was still wrong
# especially when the question doesn't mention order.
SELECT d.doctor_id, concat(d.first_name, " ", d.last_name ) as full_name, 
MIN(a.admission_date) as first_admission_date, 
MAX(a.admission_date) as last_admission_date
FROM doctors as d 
JOIN admissions as a ON d.doctor_id = a.attending_doctor_id
GROUP BY d.doctor_id, full_name;

## 37. Display the total amount of patients for each province. Order by descending.

In [ ]:
%%sql
SELECT pr.province_name, COUNT(p.patient_id) as patient_count
FROM patients as p
INNER JOIN province_names as pr ON p.province_id = pr.province_id
group by pr.province_name
ORDER BY patient_count DESC;

## 38. For every admission, display the patients' full name, their admission diagnosis, and their doctor's full name who diagnosed their problem.

In [ ]:
%%sql
SELECT CONCAT(p.first_name, ' ', p.last_name) AS patient_name, 
a.diagnosis, CONCAT(d.first_name, ' ', d.last_name) AS doctor_name
FROM patients as p 
INNER JOIN admissions as a ON p.patient_id = a.patient_id
INNER JOIN doctors as d ON a.attending_doctor_id = d.doctor_id;

## 39. Display the first name, last name and number of duplicate patients based on their first name and last name.

In [ ]:
%%sql
SELECT first_name, last_name, COUNT(*) AS num_of_duplicates
FROM patients
GROUP BY first_name, last_name
HAVING num_of_duplicates > 1;

## 40. Display patient's full name, height in the unit feet rounded to 1 decimal, weight in the unit pounds rounded to 0 decimals, birth_date, gender non abbreviated.
- Convert CM to feet by dividing by 30.48.
- Convert KG to pounds by multiplying by 2.205.

In [ ]:
%%sql
SELECT CONCAT(first_name, ' ', last_name), ROUND(height / 30.48, 1) AS 'height "Feet"',
ROUND(weight * 2.205, 0) AS 'weight "Pounds"', birth_date, 
CASE
 WHEN gender = 'F' THEN 'FEMALE'
 WHEN gender = 'M' THEN 'MALE'
END AS gender_type
FROM patients;

## 41. Show patient_id, first_name, last_name from patients whose does not have any records in the admissions table. (Their patient_id does not exist in any admissions.patient_id rows.)

In [ ]:
%%sql
SELECT  p.patient_id, p.first_name, p.last_name
FROM patients as p 
WHERE NOT EXISTS (
    SELECT 1
    FROM admissions AS a
    WHERE p.patient_id = a.patient_id
);

# Could also use join instead of multiple select
# SELECT
#   patients.patient_id,
#   first_name,
#   last_name
# from patients
#   left join admissions on patients.patient_id = admissions.patient_id
# where admissions.patient_id is NULL

## 42. Display a single row with max_visits, min_visits, average_visits where the maximum, minimum and average number of admissions per day is calculated .
- Average is rounded to 2 decimal places.

In [ ]:
%%sql
select 
	max(number_of_visits) as max_visits, 
	min(number_of_visits) as min_visits, 
  round(avg(number_of_visits),2) as average_visits 
from (
  select admission_date, count(*) as number_of_visits
  from admissions 
  group by admission_date
)

## 43. Display every patient that has at least one admission and show their most recent admission along with the patient and doctor's full name.

In [ ]:
%%sql
SELECT 
    p.first_name || ' ' || p.last_name AS patient_name,
    a.admission_date,
    d.first_name || ' ' || d.last_name AS doctor_name
FROM patients p
JOIN admissions a ON p.patient_id = a.patient_id
JOIN doctors d ON a.attending_doctor_id = d.doctor_id
WHERE a.admission_date = (
    SELECT MAX(a2.admission_date)
    FROM admissions a2
    WHERE a2.patient_id = p.patient_id
);

# Hard Question (44-54)

## 44. Show all of the patients grouped into weight groups.
- Show the total amount of patients in each weight group. Order the list by weight group decending. 
- For example, if they weight 100 to 109 they are placed in the 100 weight group, 110-119 weight group, etc.

In [ ]:
%%sql
SELECT FLOOR(weight / 10) * 10 as weight_group,
COUNT(*) AS patients_in_group
FROM patients
group by weight_group
order by weight_group DESc;

## 45. Show patient_id, weight, height, isObese from the patients table.
- Display isObese as a boolean 0 or 1.
- Obese is defined as weight(kg)/(height(m)^2) >= 30
- weight is in unit kg.
- height is in unit cm.

In [ ]:
%%sql
# a little tricky because need to convert height from cm to m, then do the calculation
select patient_id, weight, height, 
CASE 
WHEN (weight / POWER(height / 100.00, 2) >= 30) THEN 1
ELSE 0
END AS isObese
FROM patients;

## 46. Show patient_id, first_name, last_name, and attending doctor's specialty. 
- Show only the patients who has a diagnosis as 'Dementia' and the doctor's first name is 'Lisa'
- Check patients, admissions, and doctors tables for required information.

In [ ]:
%%sql
SELECT p.patient_id, p.first_name AS patient_first_name,
p.last_name as patient_last_name, d.specialty AS attending_doctor_specialty
FROM patients AS p 
INNER JOIN admissions as a ON p.patient_id = a.patient_id
INNER JOIN doctors as d ON a.attending_doctor_id = d.doctor_id
WHERE d.first_name = 'Lisa' AND a.diagnosis = 'Epilepsy';

## 47. All patients who have gone through admissions, can see their medical documents on our site. Those patients are given a temporary password after their first admission. Show the patient_id and temp_password.
- The password must be the following, in order:
    1. patient_id
    2. the numerical length of patient's last_name
    3. year of patient's birth_date

In [ ]:
%%sql
SELECT DISTINCT p.patient_id, CONCAT(p.patient_id, len(p.last_name), YEAR(p.birth_date)) AS temp_password
FROM patients AS p 
INNER JOIN admissions as a ON p.patient_id = a.patient_id;

## 48. Each admision costs $50 for patients without insurance, and $10 for patients with insurance. All patients with an even patient_id have insurance.
- Give each patient a 'Yes' if they have insurance, and a 'No' if they don't have insurance. Add up the admission_total cost for each has_insurance group.

In [ ]:
%%sql
SELECT 
CASE 
WHEN patient_id % 2 == 1 THEN 'No' 
ELSE 'Yes'
END AS has_insurance,
SUM(CASE WHEN patient_id % 2 = 0 THEN 10 ELSE 50 END) AS cost_after_insurance
FROM admissions
GROUP BY has_insurance;

## 49. Show the provinces that has more patients identified as 'M' than 'F'. Must only show full province_name.

In [ ]:
%%sql
SELECT pr.province_name
FROM province_names AS pr
INNER JOIN patients as p ON p.province_id = pr.province_id
GROUP BY province_name
HAVING SUM(CASE WHEN p.gender = 'M' THEN 1 ELSE 0 END) > SUM(CASE WHEN p.gender = 'F' THEN 1 ELSE 0 END);

## 50. We are looking for a specific patient. Pull all columns for the patient who matches the following criteria:
- First_name contains an 'r' after the first two letters.
- Identifies their gender as 'F'
- Born in February, May, or December
- Their weight would be between 60kg and 80kg
- Their patient_id is an odd number
- They are from the city 'Kingston'

In [ ]:
%%sql
SELECT *
FROM patients
WHERE first_name like '__r%%' AND gender = 'F' and MONTH(birth_date) IN (2, 5, 12)
AND weight >= 60 AND weight <= 80 AND patient_id % 2 = 1 AND city = 'Kingston';

## 51. Show the percent of patients that have "M" as their gender. Round the answer to the nearest hundredth number and in percent form.

In [ ]:
%%sql
SELECT CONCAT(ROUND(SUM(CASE WHEN gender = 'M' THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2), '%')
FROM patients;

## 52. For each day display the total amount of admissions on that day. Display the amount changed from the previous date.

In [ ]:
%%sql
SELECT admission_date,
       COUNT(admission_date)                                                             AS admission_day,
       COUNT(admission_date) - LAG(COUNT(admission_date)) OVER (ORDER BY admission_date) AS admission_count_change
FROM admissions
GROUP BY admission_date;

## 53. Sort the province names in ascending order in such a way that the province 'Ontario' is always on top.

In [ ]:
%%sql
SELECT province_name
FROM province_names
ORDER BY
  CASE
    WHEN province_name = 'Ontario' THEN 1
    ELSE province_name
  END;

## 54. We need a breakdown for the toal amount of admissions each doctor has started each year. Show the doctor_id, doctor_full_name, specialty, year, total_admissions for that year.

In [ ]:
%%sql
SELECT
  d.doctor_id as doctor_id,
  CONCAT(d.first_name,' ', d.last_name) as doctor_name,
  d.specialty,
  YEAR(a.admission_date) as selected_year,
  COUNT(*) as total_admissions
FROM doctors as d
  LEFT JOIN admissions as a ON d.doctor_id = a.attending_doctor_id
GROUP BY
  doctor_name,
  selected_year
ORDER BY doctor_id, selected_year

# Northwind Database - Easy (55-63)

## 55. Show the category_name and description from the categories table sorted by category_name.

In [ ]:
%%sql
SELECT category_name, description
FROM categories
order by category_name;

## 56. Show all the contact_name, address, city of all customers which are not from 'Germany', 'Mexico', 'Spain'.

In [ ]:
%%sql
SELECT contact_name, address, city
FROM customers
WHERE Country NOT IN ('Germany', 'Mexico', 'Spain');

## 57. Show order_date, shipped_date, customer_id, Freight of all orders placed on 2018 Feb 16.

In [ ]:
%%sql
SELECT order_date, shipped_date, customer_id, freight
FROM orders
WHERE order_date = '2018-02-26';

## 58. Show the employee_id, order_id, customer_id, required_date, shipped_date from all orders shipped later than the required date.

In [ ]:
%%sql
SELECT employee_id, order_id, customer_id, required_date, shipped_date
FROM orders
WHERE shipped_date > required_date;

## 59. Show all the even numbered Order_id from the orders table.

In [ ]:
%%sql
SELECT order_id
FROM orders
WHERE order_id % 2 = 0;

## 60. Show the city, company_name, contact_name of all customers from cities which contains the letter 'L' in the city name, sorted by contact_name.

In [ ]:
%%sql 
SELECT city, company_name, contact_name
FROM customers
WHERE city LIKE '%L%'
order by contact_name;

## 61. Show the company_name, contact_name, fax number of all customers that has a fax number. (not null)

In [ ]:
%%sql 
SELECT company_name, contact_name, fax
FROM customers
WHERE fax NOT NULL;

## 62. Show the first_name, last_name, hire_date of the most recently hired employee.

In [ ]:
%%sql 
SELECT first_name, last_name, hire_date
FROM employees
order by hire_date DESc
LIMIT 1;

%%sql
select 
    first_name,
    last_name,
    max(hire_date) as hire_date
  from employees

## 63. Show the average unit price rounded to 2 decimal places, the total units in stock, total discontinued products from the products table.

In [ ]:
%%sql 
SELECT ROUND(AVG(unit_price), 2) AS average_price, 
SUM(units_in_stock) AS total_stock, SUM(discontinued) AS total_discountinued
FROM products;

# Northwind Medium (64-67)

## 64. Show the ProductName, CompanyName, CategoryName from the products, suppliers, and categories table

In [ ]:
%%sql
SELECT p.product_name, s.company_name, c.category_name
FROM products AS p 
INNER JOIN categories AS c ON p.category_id = c.category_id
INNER JOIN suppliers AS s ON p.supplier_id = s.supplier_id;

## 65. Show the category_name and the average product unit price for each category rounded to 2 decimal places.

In [ ]:
%%sql 
SELECT c.category_name, ROUND(AVG(p.unit_price), 2) AS average_unit_price
FROM categories AS c 
INNER JOIN products as p ON c.category_id = p.category_id
group by category_name;

## 66. Show the city, company_name, contact_name from the customers and suppliers table merged together.
- Create a column which contains 'customers' or 'suppliers' depending on the table it came from.

In [ ]:
%%sql 
select city, company_name, contact_name, 'customers' as relationship 
from customers
union
select city, company_name, contact_name, 'suppliers' AS relationship
from suppliers;

## 67. Show the total amount of orders for each year/month.

In [ ]:
%%sql
select YEAR(order_date) AS order_year, MONTH(order_date) as order_month,
COUNT(*) AS no_of_orders
FROM orders
GROUP BY order_year, order_month;

# Northwind Hard (68-69)

## 68. Show the employee's first_name and last_name, a "num_orders" column with a count of the orders taken, and a column called "Shipped" that displays "On Time" if the order shipped_date is less or equal to the required_date, "Late" if the order shipped late, "Not Shipped" if shipped_date is null.
- Order by employee last_name, then first_name, and then descending by number of orders.

In [ ]:
%%sql
select e.first_name AS first_name, e.last_name AS last_name, COUNT(o.order_id) AS num_orders,
CASE
	WHEN o.shipped_date <= o.required_date THEN 'On Time'
    WHEN o.shipped_date > o.required_date THEN 'Late'
    WHEN o.shipped_date IS NULL THEN 'Not Shipped'
END AS shipped
FROM employees AS e 
INNER JOIN orders AS o ON e.employee_id = o.employee_id
group by e.first_name, e.last_name, shipped
ORDER BY last_name, first_name, num_orders DESC;

## 69. Show how much money the company lost due to giving discounts each year, order the years from most recent to least recent. Round to 2 decimal places.

In [ ]:
%%sql
Select 
YEAR(o.order_date) AS 'order_year' , 
ROUND(SUM(p.unit_price * od.quantity * od.discount),2) AS 'discount_amount' 

from orders o 
JOIN order_details od ON o.order_id = od.order_id
JOIN products p ON od.product_id = p.product_id

group by YEAR(o.order_date)
order by order_year desc;

## 70.

## 71.

## 72.

## 73.

## 74.

## 75.

## 76.

## 77.

## 78.

## 79.

## 80.

## 81.

## 82.

## 83.

## 84.

## 85.

## 86.

## 87.

## 88.

## 89.

## 90.

## 91.

## 92.

## 93.

## 94.

## 95.

## 96.

## 97.

## 98.

## 99.

## 100.